body{
    margin-left: 500px;
    background-image: url(fundo.png);
    width: 500px;

}
#capa {
    width: 500px;
    height: 200px;
}

#menu{
    width: 500px;
    margin-left: 100px;
}
h1{ text-decoration: none;
    text-align: justify;
    font-family: cursive;
    padding: 5px;}
a {
    text-align: justify;
    text-decoration: none;
    font-family: Arial;
    padding: 5px;

}
#conteudo{
  text-align: justify;
}

#exemplo{
 width: 500px;
 height: 500px;
}
